<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>Career Success Standards <Rating></Rating></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% stylesheets '@css_bootstrap' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}

    <link href="/bundles/cssrmain/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>

    <link href="/bundles/cssrmain/css/cssr.css" rel="stylesheet" type="text/css"/>

    {% javascripts '@js_jquery' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts '@js_moment' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts '@js_bootstrap' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts '@js_datatables' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts '@js_datatables_bootstrap' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

</head>

<body>

<a class="sr-only" href="#content">Skip navigation</a>

<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container cssr-header">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('cssr_main_default_index') }}" class="navbar-brand sr-only">Career Success Standards Rating</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <p class="navbar-text pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="navbar-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ render(controller('CssrMainBundle:Center:showMenu')) }}
            {% endif %}
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="col-lg-2">

            {{ render(controller('CssrMainBundle:Default:showMenu')) }}

        </div>
        {% endif %}

        <div class="col-lg-10 {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}col-lg-offset-2{% endif %}" role="main">

            {% block breadcrumb %}{% endblock %}

            {% block page_header %}{% endblock %}

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
            {% block content %}{% endblock %}

        </div>
    </div>
</div>


<footer role="contentinfo">
    <div class="container">
        <p>&copy; 2013 <a>Adams &amp; Associates, Inc.</a> &nbsp; | &nbsp; Developed by <a>Tran Interactive Design Group</a></p>
    </div>
</footer>

{% javascripts '@js_uri' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

{% javascripts '@js_cssr' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

</body>
</html>