{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Students</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('user_setup') }}">Users</a></li>
        <li class="active">Students</li>
    </ol>
{% endblock %}

{% block body %}


    <div style="text-align: right; margin-bottom: 5px;"><a href="{{ path('student_new') }}" class="btn btn-primary">Add Student</a></div>

    <table class="table table-striped table-bordered student-list">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="text-align: right; margin-top: 5px;"><a href="{{ path('student_new') }}" class="btn btn-primary">Add Student</a></div>

{% endblock %}
