{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Student Add</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('student') }}">Students</a></li>
        <li class="active">Add</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <form id="form-student-new" name="form-student-new" action="{{ path('student_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-default btn-user-cancel" href="{{ path('student') }}">Cancel</a>
                        <input type="submit" value="Create" class="btn btn-primary btn-student-save"/>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <script type="text/javascript">
        // Get the ul that holds the collection of tags
        (function() {
            /*
            $('a.btn-student-save').on('click', function(e){
                $('form#form-student-new').submit();
            });
            */

        })();
    </script>

{% endblock %}

