{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>{{ type_name }} <small>{{ staff.getFirstname|capitalize }} {{ staff.getLastname|capitalize }}</small></h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        <li><a href="{{ path('caseload_staff', { 'type': type }) }}">{{ type_name }}</a></li>
        <li class="active">{{ staff.getFirstname|capitalize }} {{ staff.getLastname|capitalize }}</li>
    </ol>
{% endblock %}

{% block body -%}

    <h4>Scores for the week of {{periodStart.format('m/d/Y')}} - {{periodEnd.format('m/d/Y')}}</h4>

    <div class="panel panel-default">
        <div class="panel-body">

            <form class="form-inline" role="form" id="periodRangeSelector">

                <div class="form-group">
                    <label for="periodSelectorStart">Start at Week:</label>
                    <select class="form-control period-selector" name="periodSelectorStart" id="periodSelectorStart">
                        {% for date in periods %}
                            <option value="{{ date.format('Y-m-d') }}" {% if date.format('Y-m-d') == periodStart.format('Y-m-d') %}selected="selected"{%endif%}>{{ date.format('m/d/Y') }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="periodSelectorEnd">End at Week:</label>
                    <select class="form-control period-selector" name="periodSelectorEnd" id="periodSelectorEnd">
                        {% for date in periods %}
                            <option value="{{ date.format('Y-m-d') }}" {% if date.format('Y-m-d') == periodEnd.format('Y-m-d') %}selected="selected"{%endif%}>{{ date.format('m/d/Y') }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

    <table id="caseload-esp-report" class="table table-hover table-bordered sortable-report" style="font-size:11px;">
        <thead>
        <tr>
            <th style="text-align: center;">#</th>
            <th class="sortable">Name</th>
            <th class="sortable">DOE</th>
            {% for ds in selectedPeriods %}
                <th class="sortable" style="font-size: 10px;">{{ ds|date("m/d/Y") }}</th>
            {% endfor %}
            <th class="sortable">Final</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td style="text-align: center;">{{ loop.index }}</td>
                <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></td>
                <td style="text-align: center;">{{ student.entry|date('m/d/Y') }}</td>
                {% for ds in selectedPeriods %}
                    <td style="text-align: center;">
                        {% for period in student.periods %}
                            {% if period.date == ds %}
                                {{ period.score }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
                <td style="text-align:center; font-size:110%;"><strong>{{ student.avgScore }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

