{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>{{ type_name }} <small>{{ staff.getFirstname|capitalize }} {{ staff.getLastname|capitalize }}</small></h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        <li><a href="{{ path('caseload_staff', { 'type': type }) }}">{{ type_name }}</a></li>
        <li class="active">{{ staff.getFirstname|capitalize }} {{ staff.getLastname|capitalize }}</li>
    </ol>
{% endblock %}

{% block body -%}

    <div class="student">
        <div class="col-md-6">
            <p class="lead">Scores for the week of {{period_start.format('m/d/Y')}} - {{period_end.format('m/d/Y')}}</p>
            <label for="periodSelector">
                Period:
                <select name="periodSelector" id="periodSelector">
                    {% for date in periods %}
                        <option value="{{ date.format('Y-m-d') }}" {% if date.format('Y-m-d') == period.format('Y-m-d') %}selected="selected"{%endif%}>{{ date.format('m/d/Y') }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="well well-sm col-md-2 col-md-offset-3 text-center">
            <div class="friday-report-avg-score-value">{{ overallAverage }}</div>
            <div class="friday-report-avg-score">Avg. Score</div>
        </div>
    </div>

    <table id="friday-report{% if comments %}-comments{% endif %}" class="table table-hover table-bordered" style="font-size:11px;">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>DOE</th>
            {% for area in areas %}
                <th style="font-size: 9px; padding: 8px 14px 8px 2px;">{{ area.name }}</th>
            {% endfor %}
            <th>Total</th>
            <th>Units</th>
            <th style="padding: 8px 14px 8px 2px;">Final</th>
            <th>Merit</th>
        </tr>
        </thead>
        <tbody>
        {% for student in reports %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></td>
                <td style="text-align: center;">{{ student.entry|date('m/d/Y') }}</td>

                {% for score in student.scores %}
                    {% if score is iterable %}
                        {% if score.comment is iterable %}
                            <td style="text-align: center;">

                                <a class="score-comment-value" data-toggle="modal" data-target="#score-comment-model-{{ score.id }}">{{ score.value }}</a>

                                <!-- Modal -->
                                <div class="modal fade" id="score-comment-model-{{ score.id }}" tabindex="-1" role="dialog" aria-labelledby="score-comment-model-{{ score.id }}-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="score-comment-model-{{ score.id }}-label">Comment on {{ student.firstname|capitalize }} {{ student.lastname|capitalize }} for {{ score.name }}</h4>
                                            </div>
                                            <div class="modal-body" style="font-size: 120%;">
                                                <div class="row">
                                                    <div class="col-sm-8" style="text-align: left;">

                                                        <p style="font-size: 120%; margin-bottom: 20px;">{{ score.comment.body }}</p>

                                                        <div><strong>Standards</strong></div>
                                                        {% if score.comment.standards is defined %}
                                                            {% for standard in score.comment.standards %}
                                                                {{ loop.index }}. {{ standard }}<br/>
                                                            {% endfor %}
                                                        {% else  %}
                                                            None
                                                        {% endif %}

                                                    </div>
                                                    <div class="col-sm-4" style="text-align: center;">
                                                        <div style="font-weight: bold; font-size: 400%;">{{ score.value }}</div>
                                                        <div><strong>Score</strong></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer" style="text-align:right">
                                                Last updated by {% if score.comment.updater.id|length > 0 %}<a href="{{ path('staff_show', { 'id': score.comment.updater.id }) }}">{{ score.comment.updater.firstname|capitalize }} {{ score.comment.updater.lastname|capitalize }}</a>{% else %}Unknown{% endif %} on {{ score.comment.updated|date('m/d/Y') }}
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                            </td>
                        {% else %}
                            <td style="text-align: center;">{{ score.value }}</td>
                        {% endif %}
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}



                <td style="text-align:center;">{{ student.scoreTotal }}</td>
                <td style="text-align:center;">{{ student.scoreCount }}</td>
                <td style="text-align: center;"><strong>{{ student.avgScore }}</strong></td>
                <td style="text-align:center; font-size:110%;">
                    {% if student.rating == 'Gold' %}
                        <span style="color:#FFD700;">{{ student.rating }}</span>
                    {% elseif student.rating == 'Blue' %}
                        <span style="color:#0000FF;">{{ student.rating }}</span>
                    {% elseif student.rating == 'Green' %}
                        <span style="color:#008000;">{{ student.rating }}</span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>

            {% for score in student.scores %}
                {% if score is iterable and score.comment is iterable %}
                    <tr>
                        <td colspan="24" style="background-color: #f7f7f7;">

                            <div class="student">
                                <div class="col-lg-1" style="text-align: center;">{{ score.name}}</div>
                                <div class="col-lg-1" style="text-align: center;">{{ score.value}}</div>
                                <div class="col-lg-3">
                                    {% for standard in score.standards %}
                                        {{ standard }}<br/>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-7">
                                    <p>{{ score.comment.body }}</p>
                                    <small>Last updated by {% if score.comment.updater.id|length > 0 %}<a href="{{ path('staff_show', { 'id': score.comment.updater.id }) }}">{{ score.comment.updater.firstname|capitalize }} {{ score.comment.updater.lastname|capitalize }}</a>{% else %}Unknown{% endif %} on {{ score.comment.updated|date('m/d/Y') }}</small>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        {% endfor %}
        </tbody>
    </table>


{% endblock %}

