{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Student History</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        {% if user_is_granted(user,'report admin') %}
        <li><a href="{{ path('history_student') }}">Student History</a></li>
        {% endif %}
        <li class="active">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</li>
    </ol>
{% endblock %}

{% block body -%}

    <h3>Scores for <a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></h3>

    <div class="row">
        <div class="col-md-6">
            <p>Entry Date: {{ student.entry|date('m/d/Y') }}</p>
        </div>
        <div class="well well-sm col-md-2 col-md-offset-3 text-center">
            <div class="friday-report-avg-score-value">{{ overallAverage }}</div>
            <div class="friday-report-avg-score">Avg. Score</div>
        </div>
    </div>

    {% if history.periods|length > 0 %}

    <table id="friday-report" class="table table-hover table-bordered sortable" style="font-size:11px;">
        <thead>
        <tr>
            <th>#</th>
            <th class="sortable">Date</th>
            {% for area in areas %}
                <th class="sortable" style="font-size: 9px;">{{ area.name }}</th>
            {% endfor %}
            <th class="sortable">Total</th>
            <th class="sortable">Units</th>
            <th class="sortable">Final</th>
            <th class="sortable">Merit</th>
        </tr>
        </thead>
        <tbody>
        {% for period, report in history.periods %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ period|date("m/d/Y") }}</td>
                {% for score in report.scores %}
                    {% if score is iterable %}
                        {% if score.comment is defined %}
                            <td style="text-align: center;">
                                <a class="score-comment-value" data-toggle="modal" data-target="#score-comment-model-{{ score.id }}">{{ score.value }}</a>
                                <!-- Modal -->
                                <div class="modal fade" id="score-comment-model-{{ score.id }}" tabindex="-1" role="dialog" aria-labelledby="score-comment-model-{{ score.id }}-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="score-comment-model-{{ score.id }}-label">Comment on {{ student.firstname|capitalize }} {{ student.lastname|capitalize }} for {{ score.name }}</h4>
                                            </div>
                                            <div class="modal-body" style="font-size: 120%;">
                                                <div class="row">
                                                    <div class="col-sm-8" style="text-align: left;">
                                                        <p style="font-size: 120%; margin-bottom: 20px;">{{ score.comment.body }}</p>
                                                        <div><strong>Standards</strong></div>
                                                        {% if score.comment.standards is defined %}
                                                            {% for standard in score.comment.standards %}
                                                                {{ loop.index }}. {{ standard }}<br/>
                                                            {% endfor %}
                                                        {% else  %}
                                                            None
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-sm-4" style="text-align: center;">
                                                        <div style="font-weight: bold; font-size: 400%;">{{ score.value }}</div>
                                                        <div><strong>Score</strong></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="text-align:right">
                                                Last updated by {% if score.comment.updater.id|length > 0 %}<a href="{{ path('staff_show', { 'id': score.comment.updater.id }) }}">{{ score.comment.updater.firstname|capitalize }} {{ score.comment.updater.lastname|capitalize }}</a>{% else %}Unknown{% endif %} on {{ score.comment.updated|date('m/d/Y') }}
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>
                        {% else %}
                            <td style="text-align: center;">{{ score.value }}</td>
                        {% endif %}
                    {% else %}
                        <td style="text-align: center;">{{ score }}</td>
                    {% endif %}
                {% endfor %}
                <td style="text-align:center;">{{ report.scoreTotal }}</td>
                <td style="text-align:center;">{{ report.scoreCount }}</td>
                <td style="text-align:center; font-size:110%;"><strong>{{ report.avgScore }}</strong></td>
                <td style="text-align:center; font-size:110%;">
                    {% if report.rating == 'Gold' %}
                        <span style="color:#FFD700;">{{ report.rating }}</span>
                    {% elseif report.rating == 'Blue' %}
                        <span style="color:#0000FF;">{{ report.rating }}</span>
                    {% elseif report.rating == 'Green' %}
                        <span style="color:#008000;">{{ report.rating }}</span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No scores found.</p>
    {% endif %}


{% endblock %}

