{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Student History</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        {% if user_is_granted(user,'report admin') %}
        <li><a href="{{ path('history_student') }}">Student History</a></li>
        {% endif %}
        <li class="active">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</li>
    </ol>
{% endblock %}

{% block body -%}

    <h3>Scores for <a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></h3>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="well well-sm col-md-2 col-md-offset-3 text-center">
            <div class="friday-report-avg-score-value">{{ overallAverage }}</div>
            <div class="friday-report-avg-score">Avg. Score</div>
        </div>
    </div>

    {% if student.periods|length > 0 %}

    <table class="table table-hover table-bordered sortable" style="font-size:11px;">
        <thead>
        <tr>
            <th>#</th>
            <th class="sortable">Date</th>
            {% for area in areas %}
                <th class="sortable" style="font-size: 9px;">{{ area.name }}</th>
            {% endfor %}
            <th class="sortable">Total</th>
            <th class="sortable">Units</th>
            <th class="sortable">Final</th>
            <th class="sortable">Merit</th>
        </tr>
        </thead>
        <tbody>
        {% for period, report in student.periods %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ period|date("m/d/Y") }}</td>
                {% for score in report.scores %}
                    {% if score is iterable %}
                        {% if score.comment is defined %}
                            <td style="text-align: center;"><span class="score-comment-popover">{{ score.value }}</span></td>
                        {% else %}
                            <td style="text-align: center;">{{ score.value }}</td>
                        {% endif %}
                    {% else %}
                        <td style="text-align: center;">{{ score }}</td>
                    {% endif %}
                {% endfor %}
                <td style="text-align:center;">{{ report.scoreTotal }}</td>
                <td style="text-align:center;">{{ report.scoreCount }}</td>
                <td style="text-align:center; font-size:110%;"><strong>{{ report.avgScore }}</strong></td>
                <td style="text-align:center; font-size:110%;">
                    {% if report.rating == 'Gold' %}
                        <span style="color:#FFD700;">{{ report.rating }}</span>
                    {% elseif report.rating == 'Blue' %}
                        <span style="color:#0000FF;">{{ report.rating }}</span>
                    {% elseif report.rating == 'Green' %}
                        <span style="color:#008000;">{{ report.rating }}</span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No scores found.</p>
    {% endif %}


{% endblock %}

