{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Student History {% if comments %}<small>Comments</small>{%else%}<small>Scores</small>{%endif%}</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        <li class="active">Student History</li>
    </ol>
{% endblock %}

{% block body %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><a href="{{ path(reportName, { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
