{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Staff History <small>Comments</small></h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        <li><a href="{{ path('history_staff') }}?comments">Staff History</a></li>
        <li class="active">{{ staff.lastname|capitalize }}, {{ staff.firstname|capitalize }} {{ staff.middlename|capitalize }}</li>
    </ol>
{% endblock %}

{% block body -%}

    <p>Comments for the week of {{period_start.format('m/d/Y')}} - {{period_end.format('m/d/Y')}}</p>

    <select name="periodSelector" id="periodSelector">
        {% for date in periods %}
            <option value="{{ date.format('Y-m-d') }}" {% if date.format('Y-m-d') == period.format('Y-m-d') %}selected="selected"{%endif%}>{{ date.format('m/d/Y') }}</option>
        {% endfor %}
    </select>

    <h3>Comments for <a href="{{ path('staff_show', { 'id': staff.id }) }}">{{ staff.lastname|capitalize }}, {{ staff.firstname|capitalize }} {{ staff.middlename|capitalize }}</a></h3>

    <table id="friday-report" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Area</th>
                <th>Score</th>
                <th>Career Success Standards</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
        {% for row in reports %}

            {% for score in row.scores %}
                {% if score %}
                <tr>
                    <td width="150"><a href="{{ path('student_show', { 'id': row.id }) }}">{{ row.lastname|capitalize }}, {{ row.firstname|capitalize }} {{ row.middlename|capitalize }}</a></td>
                    <td style="text-align: center;">{{ score.name }}</td>
                    <td width="65"style="text-align: center;">{{ score.value }}</td>
                    <td width="250">
                        {% for standard in score.standards %}
                            {{ standard }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        <p>{{ score.comment.body }}</p>
                        <small>Updated by <a href="{{ path('staff_show', { 'id': score.comment.updater.id }) }}">{{ score.comment.updater.firstname|capitalize }} {{ score.comment.updater.lastname|capitalize }}</a> on {{ score.comment.updated|date('m/d/Y') }}</small>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
