{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Reports</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Reports</li>
    </ol>
{% endblock %}

{% block body %}

    {% if user_is_granted(user,'report admin') %}
    <div class="row">
        <div class="col-md-4">
            <h3>Friday</h3>
            <ul class="list-unstyled report-list">
                <li><a href="{{ path('report_view_friday_comments') }}">Friday Comments Report</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=4.0">4.0 Report</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=4.0&comments">4.0 Report w/comments</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=Caution">Caution Report</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=Caution&comments">Caution Report w/comments</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=Challenge">Challenge Report</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=Challenge&comments">Challenge Report w/comments</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=Meets%20Expectations">Meets Expectations Report</a></li>
                <li><a href="{{ path('report_view_friday') }}?type=Meets%20Expectations&comments">Meets Expectations Report w/comments</a></li>
            </ul>
        </div>
        <div class="col-md-4">
           <h3>Case Load</h3>
            <ul class="list-unstyled report-list">
                <li><a href="{{ path('caseload_staff', { 'type': 'scores' }) }}">Caseload Scores Report</a></li>
                <li><a href="{{ path('caseload_staff', { 'type': 'comments' }) }}">Caseload Comments Report</a></li>
                <li><a href="{{ path('caseload_staff', { 'type': 'esp' }) }}">ESP Scores Report</a></li>
                <li><a href="{{ path('caseload_staff', { 'type': 'average' }) }}">Selected Average Report</a></li>
                <li><a href="{{ path('caseload_staff', { 'type': 'students' }) }}">Student Record Report</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Individual History</h3>
            <ul class="list-unstyled report-list">
                <li><a href="{{ path('history_student') }}">Student History - Scores Report</a></li>
                <li><a href="{{ path('history_student') }}?comments">Student History - Comments Report</a></li>
                <li><a href="{{ path('history_staff') }}">Staff History - Scores Report</a></li>
                <li><a href="{{ path('history_staff') }}?comments">Staff History - Comments Report</a></li>
                <li><a href="{{ path('staff_exception') }}">Staff Exception Report</a></li>
                <li><a href="{{ path('report_statistics') }}">Weekly Statistics Report</a></li>
            </ul>
        </div>
    </div>
    {% else %}
    <ul class="list-unstyled report-list">
        <li><a href="{{ path('history_student_scores', { 'id': user.id }) }}">Student History - Scores Report</a></li>
        <li><a href="{{ path('history_student_comments', { 'id': user.id }) }}?comments">Student History - Comments Report</a></li>
        <li><a href="{{ path('report_student_record', { 'id': user.id }) }}?students={{ user.id }}">Student Record Report</a></li>
    </ul>
    {% endif %}
{% endblock %}
