{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Reports</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Reports</li>
    </ol>
{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-md-4">
            <h3>Friday</h3>
            <ul class="list-unstyled report-list">
                <li><a href="{{ path('report_view') }}">Friday Comments Report</a></li>
                <li><a href="{{ path('report_view') }}">4.0 Report</a></li>
                <li><a href="{{ path('report_view') }}">4.0 Report w/comments</a></li>
                <li><a href="{{ path('report_view') }}">Caution Report</a></li>
                <li><a href="{{ path('report_view') }}">Caution Report w/comments</a></li>
                <li><a href="{{ path('report_view') }}">Challenge Report</a></li>
                <li><a href="{{ path('report_view') }}">Challenge Report w/comments</a></li>
                <li><a href="{{ path('report_view') }}">Meets Expectations Report</a></li>
                <li><a href="{{ path('report_view') }}">Meets Expectations Report w/comments</a></li>
            </ul>
        </div>
        <div class="col-md-4">
           <h3>Case Load</h3>
            <ul class="list-unstyled report-list">
                <li><a href="{{ path('report_view') }}">Caseload Scores Report</a></li>
                <li><a href="{{ path('report_view') }}">Caseload Comments Report</a></li>
                <li><a href="{{ path('report_view') }}">ESP Scores Report</a></li>
                <li><a href="{{ path('report_view') }}">Selected Average Report</a></li>
                <li><a href="{{ path('report_view') }}">Student Record Report</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Individual History</h3>
            <ul class="list-unstyled report-list">
                <li><a href="{{ path('report_view') }}">Student History - Scores Report</a></li>
                <li><a href="{{ path('report_view') }}">Student History - Scores Report</a></li>
                <li><a href="{{ path('report_view') }}">Student History - Comments Report</a></li>
                <li><a href="{{ path('report_view') }}">Staff History - Scores Report</a></li>
                <li><a href="{{ path('report_view') }}">Staff History - Comments Report</a></li>
                <li><a href="{{ path('report_view') }}">Staff Exception Report</a></li>
                <li><a href="{{ path('report_view') }}">Weekly Statistics Report</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
