{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Staff Exception</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
        <li class="active">Staff Exception</li>
    </ol>
{% endblock %}

{% block body %}

    <p><span class="label label-default">Note</span> Including un-enrolled students also.</p>

    <p><strong>{{ report|length }}</strong> exceptions for the week of {{period_start.format('m/d/Y')}} - {{period_end.format('m/d/Y')}}</p>

    <select name="periodSelector" id="periodSelector">
        {% for date in periods %}
            <option value="{{ date.format('Y-m-d') }}" {% if date.format('Y-m-d') == period.format('Y-m-d') %}selected="selected"{%endif%}>{{ date.format('m/d/Y') }}</option>
        {% endfor %}
    </select>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Course</th>
        </tr>
        </thead>
        <tbody>
        {% for user in report %}
            <tr>
                <td>{{ user.lastname|capitalize }}, {{ user.firstname|capitalize }} {{ user.middlename|capitalize }}</td>
                <td>{{ user.course_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
