{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Student Records</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('report') }}">Reports</a></li>
         <li class="active">Student Records</li>
    </ol>
{% endblock %}

{% block body -%}

    {% for student in report %}
        <h3>Scores for <a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.lastname|capitalize }}, {{ student.firstname|capitalize }} {{ student.middlename|capitalize }}</a></h3>
        <table class="table table-hover table-bordered" style="font-size:11px;">
            {% for period, report in student.periods %}
                <thead>
                <tr>
                    <th>Date</th>
                    {% for area in areas %}
                        <th style="font-size: 9px; padding: 8px 14px 8px 2px;">{{ area.name }}</th>
                    {% endfor %}
                    <th style="padding: 8px 14px 8px 2px;">Final</th>
                    <th>Merit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ period|date("m/d/Y") }}</td>
                    {% for score in report.scores %}
                        {% if score is iterable %}
                            {% if score.comment %}
                                <td style="text-align: center;"><span class="score-comment-popover">{{ score.value }}</span></td>
                            {% else %}
                                <td style="font-size:9px; text-align: center;">{{ score.value }}</td>
                            {% endif %}
                        {% else %}
                            <td style="font-size:9px; text-align: center;">{{ score }}</td>
                        {% endif %}
                    {% endfor %}
                    <td style="text-align: center;"><strong>{{ report.avgScore }}</strong></td>
                    <td style="text-align: center;">{{ report.rating }}</td>
                </tr>

                {% for score in report.scores %}
                    {% if score is iterable and score.comment.body %}
                        <tr>
                            <td colspan="21" style="background-color: #f7f7f7;">

                                <div class="row">
                                    <div class="col-lg-1" style="text-align: center;">{{ score.name}}</div>
                                    <div class="col-lg-1" style="text-align: center;">{{ score.value}}</div>
                                    <div class="col-lg-3">
                                        {% for standard in score.standards %}
                                            {{ standard }}<br/>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-7">
                                        <p>{{ score.comment.body }}</p>
                                        <small>Last updated by {% if score.comment.updater.id|length > 0 %}<a href="{{ path('staff_show', { 'id': score.comment.updater.id }) }}">{{ score.comment.updater.firstname|capitalize }} {{ score.comment.updater.lastname|capitalize }}</a>{% else %}Unknown{% endif %} on {{ score.comment.updated|date('m/d/Y') }}</small>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            {% endfor %}
        </table>
    {% endfor %}


{% endblock %}

