{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Messages</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Messages</li>
    </ol>
{% endblock %}

{% block body -%}

    <div style="text-align: right; margin-bottom: 10px;"><a href="{{ path('message_new') }}" class="btn btn-primary">Add Message</a></div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Center</th>
                <th>Audience</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_edit', { 'id': message.id }) }}">{{ message.title }}</a></td>
                <td style="width: 180px;">
                    {% if message.center.name is defined %}
                        {{ message.center.name }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td style="width: 220px;">
                    <ul class="list-unstyled">
                    {% for group in message.groups %}
                        <li>{{ group.name }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td style="width: 100px;">
                    {% if message.createdBy.id is defined %}
                        <a href="{{ path('user_show', { 'id': message.createdBy.id }) }}">{{ message.createdBy.firstname|capitalize }} {{ message.createdBy.lastname|capitalize }}</a> {{ message.created|date('m/d/Y') }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td style="width: 100px;">
                    {% if message.updatedBy.id is defined %}
                        {% if message.updated %}
                            <a href="{{ path('user_show', { 'id': message.updatedBy.id }) }}">{{ message.updatedBy.firstname|capitalize }} {{ message.updatedBy.lastname|capitalize }}</a> {{ message.updated|date('m/d/Y') }}
                        {% endif %}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
