<div class="sidebar-nav">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Menu</h3>
        </div>
        <div class="panel-body" style="text-align: center;">

                {% block sidebar %}

                    {% if admin %}

                        {% if not center.id %}
                            <a class="btn btn-primary" href="{{ path('center') }}">Centers</a>
                            <a class="btn btn-primary" href="{{ path('message') }}">Messages</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('center_edit', { 'id': center.id }) }}"><span class="glyphicon glyphicon-home pull-left"></span> Center Setup</a>
                            <a class="btn btn-primary" href="{{ path('user_setup') }}"><span class="glyphicon glyphicon-user pull-left"></span> User Setup</a>
                            <a class="btn btn-primary" href="{{ path('score') }}"><span class="glyphicon glyphicon-pencil pull-left"></span> <span class="pull-right">Update Scores</span></a>
                            <a class="btn btn-primary" href="{{ path('score_overall') }}"><span class="glyphicon glyphicon-record pull-left"></span> View Scores</a>
                            <a class="btn btn-primary" href="{{ path('report') }}"><span class="glyphicon glyphicon-stats pull-left"></span> Reports</a>
                        {% endif %}

                    {% else %}
                        <a class="btn btn-primary" href="{{ path('score_student_show', { 'id': user.id }) }}">View Scores</a>
                    {% endif %}


                {% endblock %}

        </div>
    </div>
</div>