{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Admins</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('user_setup') }}">Users</a></li>
        <li class="active">Admins</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-lg-2 col-lg-offset-10">
            <!-- Split button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {% if user_is_granted(user,'corp admin update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 1}) }}">Corporate Administrator</a></li>
                    {% endif %}
                    {% if user_is_granted(user,'center admin update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 2}) }}">Center Administrator</a></li>
                    {% endif %}
                    {% if user_is_granted(user,'center act update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 3}) }}">Center Account Coordinator</a></li>
                    {% endif %}
                    {% if user_is_granted(user,'center mgr update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 4}) }}">Center Management</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <table id="admin-list" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Center</th>
        </tr>
        </thead>
        <tbody>
        {% for account in users %}
            <tr>
                <td>
                    {% if account.group_id == 1 and user_is_granted(user,'corp admin update') %}
                        <a href="{{ path('user_admin_show', { 'id': account.id }) }}">{{ account.firstname }} {{ account.lastname }}</a>
                    {% elseif account.group_id == 2 and user_is_granted(user,'center admin update') %}
                        <a href="{{ path('user_admin_show', { 'id': account.id }) }}">{{ account.firstname }} {{ account.lastname }}</a>
                    {% elseif account.group_id == 3 and user_is_granted(user,'center act update') %}
                        <a href="{{ path('user_admin_show', { 'id': account.id }) }}">{{ account.firstname }} {{ account.lastname }}</a>
                    {% elseif account.group_id == 4 and user_is_granted(user,'center mgr update') %}
                        <a href="{{ path('user_admin_show', { 'id': account.id }) }}">{{ account.firstname }} {{ account.lastname }}</a>
                    {% else %}
                        {{ account.firstname }} {{ account.lastname }}
                    {% endif %}
                </td>
                <td>{{ account.group_name }}</td>
                <td>{{ account.center_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-lg-2 col-lg-offset-10">
            <!-- Split button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {% if user_is_granted(user,'corp admin update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 1}) }}">Corporate Administrator</a></li>
                    {% endif %}
                    {% if user_is_granted(user,'center admin update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 2}) }}">Center Administrator</a></li>
                    {% endif %}
                    {% if user_is_granted(user,'center act update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 3}) }}">Center Account Coordinator</a></li>
                    {% endif %}
                    {% if user_is_granted(user,'center mgr update') %}
                        <li><a href="{{ path('user_admin_new',{'groupId': 4}) }}">Center Management</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
