
{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Admin List</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Students</li>
    </ol>
{% endblock %}

{% block body -%}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Lastlogin</th>
            <th>Locked</th>
            <th>Expired</th>
            <th>Roles</th>
            <th>Credentialsexpired</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.enabled }}</td>
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.locked }}</td>
                <td>{{ entity.expired }}</td>
                <td>
                    <ul>
                        {% for role in entity.roles %}
                            <li>{{ role|e }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ entity.credentialsExpired }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">Add Admin</a>

{% endblock %}