{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Admin List</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Admins</li>
    </ol>
{% endblock %}

{% block body -%}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Center</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.firstname }} {{ entity.lastname }}</a></td>
                <td>{{ entity.group_name }}</td>
                <td>{{ entity.center_name }}</td>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                <td>{{ entity.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">Add Admin</a>

{% endblock %}
