{% extends '::base.html.twig' %}

{% block page_header %}
    <h1 xmlns="http://www.w3.org/1999/html">User Setup</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Users</li>
    </ol>
{% endblock %}

{% block body -%}

    <p><a href="{{ path('user_edit',{ 'id': app.user.id }) }}"><span class="glyphicon glyphicon-user"></span> Your Account</a></p>

    {% if user_is_granted(user,'student update') %}

        <p><strong>OR</strong></p>


        <p>Pick a group:</p>

        <ul class="list-unstyled">

            {% if user_is_granted(user,'corp admin update') or
                  user_is_granted(user,'center admin update') or
                  user_is_granted(user,'center act update') or
                  user_is_granted(user,'center mgr update') %}
                <li><a href="{{ path('user_admin') }}">Administrators</a></li>
            {% endif %}

            {% if user_is_granted(user,'staff update') %}
                <li><a href="{{ path('staff') }}">Staff</a></li>
            {% endif %}

            {% if user_is_granted(user,'student update') %}
                <li><a href="{{ path('student') }}">Students</a></li>
            {% endif %}

        </ul>
    {% endif %}

{% endblock %}
