{% extends '::base.html.twig' %}

{% block page_header %}
    <h1 xmlns="http://www.w3.org/1999/html">User Setup</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Users</li>
    </ol>
{% endblock %}

{% block body -%}

    <p><a href="{{ path('user_edit',{ 'id': app.user.id }) }}"><span class="glyphicon glyphicon-user"></span> Your Account</a></p>
    <p><strong>OR</strong></p>
    <p>Pick a group</p>

    <ul>
        {% for group in groups %}
            {% if group.id == 6 %}
                <li><a href="{{ path('student') }}">{{ group.name }}</a></li>
            {% elseif group.id == 5 %}
                <li><a href="{{ path('staff') }}">{{ group.name }}</a></li>
            {% else %}
                <li>{{ group.name }} <span class="label label-default">Not Available Yet</span></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
