{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Centers</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Centers</li>
    </ol>
{% endblock %}

{% block body -%}

    <div style="text-align: right; margin-bottom: 10px;"><a href="{{ path('center_new') }}" class="btn btn-primary">New Center</a></div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for center in centers %}
            <tr>
                <td><a href="{{ path('center_show', { 'id': center.id }) }}">{{ center.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="text-align: right; margin-bottom: 10px;"><a href="{{ path('center_new') }}" class="btn btn-primary">New Center</a></div>

{% endblock %}
