{% if user_is_granted(user,'center create') %}
<ul class="nav navbar-nav">
    <li class="dropdpwn">
        <a href="#" id="nav-center-name" class="dropdown-toggle" data-toggle="dropdown">{{ current_center.name }} <b class="caret"></b></a>

        <ul class="dropdown-menu center-menu">
            <li class="nav-header disabled"><a>Centers</a></li>
            <li>
                <a class="selectable-center" rel="" href="javascript:void(0)">
                    {% if current_center and current_center.name == "All Centers" %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                    All Centers
                </a>
            </li>
            {% for center in centers %}
                <li>
                    <a class="selectable-center" rel="{{ center.id }}" href="javascript:void(0)">
                    {% if current_center and current_center.id == center.id %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                    {{ center.name }}
                    </a>
                </li>
            {% endfor %}
            {% if user_is_granted(user,'center create') %}
            <li class="divider"></li>
            <li><a href="{{ path('center_new') }}">Add Center</a></li>
            {% endif %}
        </ul>

    </li>
</ul>

<script type="text/javascript">
// Get the ul that holds the collection of tags
(function() {

    $(function() {

        $('ul.center-menu a.selectable-center').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            var data = {
                center: $(this).attr("rel")
            };
            $.ajax({
                type: "POST",
                url: "{{ path('center_activate') }}",
                data: data,
                success: function(data,textStatus){
                    if ( textStatus == 'success' ) {
                        // reload page
                        location.href = "{{ path('cssr_main_default_index') }}";
                    }
                },
                dataType: 'json'
            });
        });


    });

})();
</script>
{% else %}
<ul class="nav navbar-nav">
    <li class="dropdpwn"><a id="nav-center-name">{{ current_center.name }}</a><li>
</ul>
{% endif %}