{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Staff Add</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path('staff') }}">Staff</a></li>
        <li class="active">Add</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <form id="form-staff-new" name="form-staff-new" action="{{ path('staff_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
            </form>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="btn btn-primary btn-staff-save" href="javascript:void(0)">Create</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    // Get the ul that holds the collection of tags
    (function() {

        $('a.btn-staff-save').on('click', function(e){
            $('form#form-staff-new').submit();
        });

    })();
    </script>

{% endblock %}
